@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Machines", "Index")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Details", "Details", new { id = Model.MachineId})</li>
    <li class="breadcrumb-item active" aria-current="page">Add Engineer</li>
  </ol>
</nav>

<h1>Add Engineer</h1>
<hr/>
<h4>Add an engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add"/>
}