@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add Machine</h1>
<hr/>
<h4>Add a machine to this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to engineer details", "Details", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Back to engineers", "Index")</p>