@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Engineers", "Index")</li>
    <li class="breadcrumb-item active" aria-current="page">Details</li>
  </ol>
</nav>

<h1>Engineer Details</h1>
<hr/>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<h3>Machine(s) this engineer is licensed for:</h3>
@if(@Model.Machines.Count == 0)
{
  <p>This engineer is not licensed for any machines.</p>
}
else
{
  <ul>
    @foreach (var join in Model.Machines)
    {
      <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.MachineId })</li>
      @using (Html.BeginForm("RemoveMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Remove"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add machine", "AddMachine", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>